<script lang="ts">
	import { onMount, tick } from 'svelte'
	import { Position, Button } from "@kahi-ui/framework"
	import { words } from './Words'
	import Timer from './Timer.svelte'
	import EndModal from './EndModal.svelte'
	import "@kahi-ui/framework/dist/kahi-ui.framework.css"
	import { tweened } from 'svelte/motion'
	import { cubicOut } from 'svelte/easing'

	let timerTotal: number
	const wordSpacing: number = 8
	let timerPlay: boolean = false

	let currentWordIndex: number = 0
	let currentCharIndex: number = 0
	let progressChar: number = 0

	let correctWords: boolean[] = []
	let endGame: boolean = false

	let totalCorrectWords: number = 0
	let totalCorrectCharacters: number = 0
	
	// SCROLLING 
	let wordWidth: number = 0
	let wordDisplayList: string[] = []
	let wordDisplayWidth: number[] = [] 
	onMount(async () => {
		let len = words.length
		for(let i = 0; i < 100; i++) {
			wordDisplayList = [...wordDisplayList, words[getRandomInt(0, len - 1)]]
			await tick()
			wordDisplayWidth[i] = wordWidth
		}
		progress.set(box.scrollLeft)
		update = box.scrollLeft
	})

	let box
	let update
	const progress = tweened(0, { duration: 300, easing: cubicOut });
	function scrollToCurrentWord() {
		progress.set($progress + wordDisplayWidth[currentWordIndex] + wordSpacing)
	}
	setInterval(() => {
        if (Math.floor($progress) != update) {
			update = Math.floor($progress)
			box.scrollLeft = update
		}
	}, 10)
	// SCROLLING

	function getRandomInt(min, max) {
		min = Math.ceil(min);
		max = Math.floor(max);
		return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
	}


	// Functions
	function onKeyDown (event) {
		if (endGame)
			return
		timerPlay = true
		if (event.key !== undefined){
			let typedChar = event.key
			if (typedChar === " ")
				spaceTyped()
			else if (typedChar === "Backspace")
				cancelTyped()
			else 
				charTyped(typedChar)
		}
	}

	const spaceTyped = () => {
		if (currentCharIndex == 0)
			return;
		if (progressChar === currentCharIndex && progressChar === wordDisplayList[currentWordIndex].length) {
			correctWords[currentWordIndex] = true;
			totalCorrectWords++;
			totalCorrectCharacters += progressChar;
		}
		nextWord();
	}

	const cancelTyped = () => {
		if (currentCharIndex <= 0)
			return;
		else if (currentCharIndex === progressChar)
			progressChar--;
		currentCharIndex--;
	}

	const charTyped = (char) => {
		if (char === wordDisplayList[currentWordIndex][currentCharIndex] && progressChar === currentCharIndex)
		progressChar++;
		if (currentWordIndex === wordDisplayList.length - 1 && progressChar === wordDisplayList[wordDisplayList.length - 1].length)
			endGame = true;
		currentCharIndex++;
	}

	const nextWord = () => {
		currentCharIndex = 0
		progressChar = 0;
		(currentWordIndex >= wordDisplayList.length - 1) ? endGame = true : currentWordIndex++
		scrollToCurrentWord()
	}

	$: isPreviousWord = wordIndex => wordIndex < currentWordIndex
	$: isPreviousIncorrect = wordIndex => !correctWords[wordIndex]
	$: isCurrentWord = wordIndex => wordIndex === currentWordIndex
	$: isCurrentCharCorrect = charIndex => (charIndex === currentCharIndex) ? false : charIndex < progressChar
	$: isCurrentCharIncorrect = charIndex => charIndex < currentCharIndex && charIndex  >= progressChar

	let windowWidth
	$: boxWidth = windowWidth / 2
</script>

<EndModal open={endGame} totalCorrectWords={totalCorrectWords} time={timerTotal} totalWords={currentWordIndex}/>

<div class="outer" >
	<div class="middle">
		<div class="inner">
            <Timer bind:setSeconds={timerTotal} play={timerPlay} on:elapsed={() => {endGame = true}} />
			<div bind:this={box} class="box" style="width: {boxWidth}px; ">
				<span style="width: {boxWidth/2 - 115}px; display:inline-block;"> </span>
				<!-- Iterate over all the words (indexWord word) -->
				{#each wordDisplayList as word, indexWord}
					<span style="display: inline-block; margin: {wordSpacing/2}px; border-style: solid; border-color: #f6f6f6; border-width: 1px;" bind:clientWidth={wordWidth} class:currentWord={isCurrentWord(indexWord)}>
						<!-- Iterate over all the word's characters (indexChar char) -->
						{#each word as char, indexChar}
							{#if isPreviousWord(indexWord)}
								<span class:passedWrong={isPreviousIncorrect(indexWord)} style="color:grey"> {char} </span>
							{:else if isCurrentWord(indexWord)}
								<b class:isCorrect={isCurrentCharCorrect(indexChar)} class:isIncorrect={isCurrentCharIncorrect(indexChar)}> {char} </b>
							{:else}
								<span> {char} </span>
							{/if}
						{/each}
					</span>
				{/each}
			</div>
		</div>
	</div>
</div>

<Position variation="action">
	<Button palette="accent" on:click={() => (location.reload())} margin="large">
        Restart
    </Button>
</Position>

<!-- Key press detection -->
<svelte:window on:keydown|preventDefault={onKeyDown} bind:outerWidth={windowWidth}/>
<!-- Montserrat -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" />

<style>	
	.outer {
		font-size: 26px;
		font-family: "Montserrat", sans-serif;
		background-color: #f6f6f6;
		background-image: "images/cube.png";
		display: table;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	.middle {
		display: table-cell;
		vertical-align: middle;
	}

	.inner {
		margin-left: auto;
		margin-right: auto;
	}

	.box {
		background-color: white;
		border-radius: 6px;
		box-shadow: 3px 3px 15px #e6e6e6;
		padding: 50px;
		margin-top: 100px;
		margin-bottom: 40px;
		margin-right: auto;
		margin-left: auto;
		white-space: nowrap;
		overflow: hidden;
	}

	.isCorrect {
		color: #68be8d;
	}

	.isIncorrect {
		color: #ca6e61;
	}

	.passedWrong {
		text-decoration: line-through;
	}
	
</style>