
<script lang="ts">
	import { Button, Center, Progress, Overlay, Grid, Box, Spacer, Heading } from "@kahi-ui/framework";
    export let open: boolean
	export let totalWords: number
    export let totalCorrectWords: number
	export let time: number

	//let image: string = "images/cube.png"

	$: wpm = totalCorrectWords / (time / 60)
	$: accuracy = Math.floor(totalCorrectWords * 100 / totalWords);
</script>

<Overlay.Container bind:logic_state={open} logic_id="overlay-preview" dismissible={false}> <!-- overlay-logic-state -->
    <Overlay.Backdrop />
	<Overlay.Section animation="scale" padding="huge">
        <Box palette="light" elevation="high" shape="rounded" padding="huge">
			<div class="outer">
				<Grid.Container class="grid-preview" points={["1", "mobile:1", "tablet:1", "desktop:1"]} spacing="medium">
					<Center>
						<Heading is="h1" style="--heading-h1-font-size:40px;">
							Finish!
						</Heading>
					</Center>
					<Spacer spacing="small" />
					<Center>
						<Heading is="h4">
							Accuracy
						</Heading>
					</Center>
					<Spacer spacing="large" />
					<Center>
						<h1 class="center"> {accuracy}</h1>
						<div class="center">
							<Progress style="--progress-size-icon:110px;" shape="circle" palette="alert" value={totalCorrectWords / totalWords} />
						</div>
					</Center>
					<Spacer spacing="huge" />
					<Center>
						<Heading is="h4">
							WPF
						</Heading>
					</Center>
					<Center>
						<Heading is="h1">
							{wpm}
						</Heading>
					</Center>
					<Button sizing="huge" palette="accent" on:click={() => (location.reload())} margin="large" >
						Play again
					</Button>
				</Grid.Container>
			</div>
        </Box>
    </Overlay.Section>
</Overlay.Container>


<style>
    .outer {
        width: 450px; /* Need a specific value to work */
        height: 450px;
    }
	.center {
        position: absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 100px; /* Need a specific value to work */
        height: 100px;
    }
</style>