<script lang="ts">
    import { Progress, Center, Position, Badge, Grid, Button, Spacer} from "@kahi-ui/framework";
	import FaChevronRight from 'svelte-icons/fa/FaChevronRight.svelte'
	import FaChevronLeft from 'svelte-icons/fa/FaChevronLeft.svelte'
    import { createEventDispatcher } from 'svelte'
    import { tweened } from 'svelte/motion';
    export let setSeconds: number = 10
    export let play: boolean

    let timer = tweened(setSeconds);
    const dispatch = createEventDispatcher()
    setInterval(() => {
        if ($timer <= 0 && setSeconds > 0) dispatch('elapsed')
        if ($timer > 0 && play) $timer--
    }, 1000)

    $: seconds = Math.floor($timer)

    const addSeconds = () => {
        setSeconds += 10
        if (setSeconds > 90)
            setSeconds = 90
        timer = tweened(setSeconds);
    }
    const removeSeconds = () => {
        setSeconds -= 10
        if (setSeconds < 10)
            setSeconds = 10
        timer = tweened(setSeconds);
    }
</script>

<Center>
<Grid.Container points={["3", "mobile:3", "tablet:3", "desktop:3"]} spacing="huge">
    {#if !play}
    <Center >
        <Button variation={["subtle", "clear"]} on:click={removeSeconds}>
            <div class="icon" > <FaChevronLeft /> </div>
        </Button>
    </Center>
    <div class="del"></div>
    <Center>
        <Button variation={["subtle", "clear"]} on:click={addSeconds}>
            <div class="icon" > <FaChevronRight /> </div>
        </Button>
    </Center>
    {:else}
        <div class="del"></div>
    {/if}
    <h1 class="center"> {seconds} </h1>
    <div class="center">
        <Progress style="--progress-size-icon:120px;" shape="circle" palette="alert" value={$timer / setSeconds} />
    </div>
</Grid.Container>
</Center>

<style>
    .del {
        height: 100px;
    }

    .icon {
        color: rgb(223, 166, 32);
        width: 45px;
        height: 45px;
    }
    .center {
        position: absolute; 
        left: 0; 
        right: 0;
        margin-left: auto; 
        margin-right: auto; 
        width: 100px; /* Need a specific value to work */
        height: 100px;
        font-size: 34px;
    }
</style>